#page-header-logo {
    background: url("../img/logo32x32.png");
}

button,
.ui-widget button,
.ui-dialog {
    font-size: 14px;
}

.filterable-breadcrumb {
    list-style: none;
    margin: 1em 0;
    padding: 0;
    font-size: 0;
    word-spacing: 0;
    letter-spacing: 0;
    position: relative;
    top: -4px;
    left: -53px;
    display: inline-block;
    box-shadow: 6px 8px 4px -4px #979797;
}

.filterable-breadcrumb > li {
    display: inline-block;
    position: relative;
    background-color: white;
    margin: 0;
    padding: 0 0.25em 0 1.5em;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    font-size: 16px;
    word-spacing: normal;
    letter-spacing: normal;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    vertical-align: middle;
}

.filterable-breadcrumb > li:last-child {
    background-color: inherit;
}

.filterable-breadcrumb > li:last-child:after {
    content: " ";
    width: 28px;
    height: 16px;
    position: absolute;
    top: 12px;
    bottom: 0;
    right: -14px;
    box-shadow: 0 8px 4px -4px #979797;
    z-index: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filterable-breadcrumb > li .crumb:after {
    content: " ";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    z-index: 2;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15px;
}

.filterable-breadcrumb > li .crumb:before {
    content: " ";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    z-index: 1;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -16px;
}

.right-fork-option {
    padding-right: 0.25em;
}

.fork-option-pair {
    box-shadow: 6px 8px 4px -4px #979797;
    display: inline-block;
    font-size: 0;
    left: -26px;
    letter-spacing: 0;
    list-style: none outside none;
    margin: 1em 0;
    padding: 0;
    position: relative;
    top: 16px;
    word-spacing: 0;
}

.fork-option-pair > li {
    background-color: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    display: inline-block;
    font-size: 16px;
    height: 30px;
    letter-spacing: normal;
    line-height: 30px;
    margin: 0;
    padding: 0 0.5em;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: normal;
}

.fork-option-pair > li:first-child {
    border-left: 1px solid black;
    padding: 0 0.25em 0 0.5em;
}

.fork-option-pair > li:last-child {
    background-color: inherit;
}

.fork-option-pair > li:last-child:after {
    bottom: 0;
    box-shadow: 0 8px 4px -4px #979797;
    content: " ";
    height: 16px;
    position: absolute;
    right: -14px;
    top: 12px;
    transform: rotate(-45deg);
    width: 28px;
    z-index: 0;
}

.fork-option-pair > li .left-fork-option:after {
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: -15px;
    top: 0;
    width: 0;
    z-index: 2;
}

.fork-option-pair > li .left-fork-option:before {
    border-bottom: 15px solid transparent;
    border-left: 15px solid black;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    position: absolute;
    right: -16px;
    top: 0;
    width: 0;
    z-index: 1;
}

.fork-option-pair > li .right-fork-option:after {
    border-bottom: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    left: -15px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 2;
}

.fork-option-pair > li .right-fork-option:before {
    border-bottom: 15px solid transparent;
    border-right: 15px solid black;
    border-top: 15px solid transparent;
    bottom: 0;
    content: " ";
    display: block;
    height: 0;
    left: -16px;
    position: absolute;
    top: 0;
    width: 0;
    z-index: 1;
}

.fork-option-pair:after {
    bottom: 0;
    box-shadow: 0 8px 4px -4px #979797;
    content: " ";
    height: 30px;
    left: 0;
    position: absolute;
    width: 15px;
}

.quick-nav {
    float: right;
    top: -5px;
}

#reviewer-comments-block,
#cross-check-comments-block {
    height: 100px;
    border: 1px solid black;
    margin-bottom: 1em;
    position: relative;
}

#edit-reviewer-comments,
#edit-cross-check-comments {
    resize: none;
    display: block;
    width: 96%;
    height: 70px;
    margin: 1em;
}

#view-reviewer-comments,
#view-cross-check-comments {
    margin: 1em;
}

.form-button-panel button {
    vertical-align: top;
}