.chart-legend {
    margin-top: 11px;
}

.graph-data-table td {
    min-width: 75px;
    text-align: right;
}

.print .graph-data-table {
    margin: 16px auto;
}

#busy-wait img {
    vertical-align: bottom;
    margin-right: 8px;
}
.chart-legend tbody tr, .chart-legend tbody th, .chart-legend tbody td {
    border-top: none;
}
.charge-placeholder {
    width: 100%;
    height: 300px;
}
.current-placeholder {
    width: 100%;
    height: 100px;
}
.custom-key {
    font-size: 12px;
    position: absolute;
    top: 10px;
    left: 3em;
    z-index: 1;
    display: none;
}
.custom-key th {
    padding: 0 8px;
}
.custom-wrap {
    position: relative;
}
.scheduled-key-header {
    border-top: 2px solid black;
    width: 7em;
}
.delivered-key-header {
    border-top: 2px dashed black;
    width: 7em;
}
.hall-key-header {
    border-top: 2px solid white;
}
.key-header {
    padding-top: 4px;
}
.chart-legend tr th:nth-child(2) {
    padding: 8px 0;
}
.quad-table {
    width: 100%;
    margin-bottom: 100px;
}
.quad-table h3 {
    text-align: center;
    margin-bottom: 0;
}
.hall-chart-tooltip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
}
.date-tooltip {
    position: absolute;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
    bottom: -30px;
    right: 10px;
    display: none;
}
.program-tooltip {
    position: absolute;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
    bottom: -30px;
    left: 10px;
    display: none;
}
#chart-wrap {page-break-after: always;}
@media print {
    #chart-wrap {page-break-after: always;}
}
#busy-wait {
    display: none;
    z-index: 1002;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    background-color: white;
    opacity: 0.9;
    padding: 0 16px;
}
#busy-wait img {
    vertical-align: middle;
}

/*.flot-x-axis .flot-tick-label {
    white-space: nowrap;
    transform: translate(-28px, 0) rotate(-45deg);
    text-indent: -100%;
    transform-origin: top right;
    text-align: right !important;

}*/