.readonly-reason {
    margin: 1em 0;
    color: rgb(128, 128, 128);
}
.flyout-panel {
    border: 1px solid black;
    width: 500px;
    height: 250px;
    position: absolute;
    right: -553px;
    top: -40px;
    z-index: 2;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 0.5em #979797;
    padding: 16px;
    font-size: 16px;

    text-align: left;
}
#flyouts {
    display: none;
}
.definition-flyout-handle {
    position: relative;
}
.flyout-panel:after {
    content: '';
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid white;
    top: 10%;
    margin-top: -20px;
    position: absolute;
    left: -20px;
}
.flyout-panel:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 21px solid black;
    top: 10%;
    margin-top: -21px;
    position: absolute;
    left: -21px;
}
.close-bubble {
    float: right;
    min-width: inherit;
}
.definition-bubble-title {
    margin-bottom: 1em;
}
.definition-bubble-body {
    font-weight: normal;
    height: 200px;
    overflow: auto;
    font-size: 12px;
}
.flyout-parent {
    display: inline-block;
}
.flyout-parent a.flyout-link {
    color: blue;
}

.status-section-header {
    font-style: italic;
    font-size: 0.75em;
    color: rgb(128, 128, 128);
}
.plan-list a {
    font-weight: bold;
    color: blue;
    text-decoration: underline;
}
#content-liner {
    min-height: 1400px;
}
#program,
#comments {
    width: 230px;
}
#comments {
    height: 60px;
    resize: none;
}
.hour-header {
    width: 50px;
}
#comments-table td {
    position: relative;
}
#comments-table textarea {
    resize: none;
}
#comments-table td span {
    text-align: left;
}
#comments-table span,
#comments-table textarea {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
}
.banner-buttonbox {
    background-color: #f0f0f0;
    margin: 1em;
}
.banner-buttonbox ul {
    list-style: none;
    margin: 0;
}
.banner-buttonbox li {
    display: inline-block;
    min-width: 130px;
    text-align: center;
    border: 1px solid black;
    padding: 8px;
    box-shadow: 8px 8px 8px #979797;
    border-radius: 8px;
}
.banner-buttonbox li.selected {
    box-shadow: inset 1px 2px 5px #979797;
    background: #e5e5e5;
    transform: translateY(1px);
}
.banner-buttonbox a {

}

.banner-breadbox li > * {
    position: relative;
    display: inline-block;
    z-index: 2;
}
.banner-breadbox li {
    vertical-align: middle;
}

tfoot th {
    text-align: left;
}

tfoot th:first-child {
    text-align: center;
}

h3 {
    border-bottom: 1px dashed black;
}

h4 {
    background-color: #f0f0f0;
    font-size: 18px;
}

h5 {
    margin-bottom: 0;
    font-size: 16px;
}

ul.ui-tabs-nav li a {
    font-weight: bold;
}

.data-table {
    margin-top: 0.1em;
}

.dialog .ribbon-breadbox {
    top: 0;
    left: 0;
}

#status-div {
    margin-bottom: 0.1em;
    float: right;
}

#shift-info-source {
    float: right;
}

#accordion h3 .ui-icon {
    display: inline-block;
}


.accordion .ui-accordion-header .ui-icon {
    display: inline-block;
    margin-right: 1em;
}

.accordion-button-panel {
    text-align: right;
}

.ui-accordion .ui-accordion-content {
    padding: 1em;
}

.ui-accordion .ui-state-error input {
    color: red;
}

.data-table .ui-state-highlight,
.data-table .ui-state-highlight a {
    color: orange;
}

table thead th.duration-header {
    width: 75px;
}

table.editable-table tbody td {
    height: 24px;
}

table.editable-table td,
table.editable-table th {
    padding: 3px;
}

table.editable-table input[type="text"],
table.editable-table tbody td span {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.exp-td,
#avail-util-tabset td,
#avail-util-tabset tfoot th,
#avail-util-tabset td input,
#exp-avail-panel td,
#exp-avail-panel tfoot th,
#exp-avail-panel th.mirror-th,
#exp-avail-panel td input,
#exp-reasons-panel td,
#dtm-btm-table td {
    text-align: right;
}

#acc-summary-table th {
    width: 75px;
}

#hall-summary-table th,
.hall-hourly-epics-table th {
    width: 50px;
}

#multi-summary-table th {
    min-width: 90px;
}

#shift-info-key-value-list {
    border: 1px solid black;
}

#shift-info-key-value-list .li-value {
    height: 25px;
    min-width: 150px;
}

#exp-avail-panel,
#exp-reasons-panel,
.tabset {
    font-size: 0.75em;
}

.accordion-table-wrapper {
    display: inline-block;
}

.accordion-table-wrapper table {
    table-layout: fixed;
    width: 100%;
}

.form-wrapper {
    display: inline-block;
}

.form-button-panel {
    text-align: right;
}

.incomplete-status {
    color: red;
}

.complete-status {
    color: green;
}

.login-message {
    vertical-align: top;
}

#availability-status-header {
    font-weight: bold;
}

#availability-status-list {
    width: 100%;
    margin: 0;
}

#availability-status-list .li-key {
    width: 200px;
}

#call-hall-note {
    color: gray;
}

.cross-check-details tbody th {
    text-align: left;
}

#cross-check-section table td {
    border: 1px solid black;
}

#reload-page {
    color: blue;
}

#comparison-table .ui-icon {
    display: inline-block;
    vertical-align: top;
}

#comparison-table a:hover {
    color: inherit;
}

#comparison-table td:last-child,
.cross-check-details td,
#dtm-btm-table td:last-child {
    text-align: center;
}

#status-dialog {
    font-size: 16px;
}

#signature-table {
    font-size: 14px;
}

.cross-check-details thead th {
    width: 100px;
}

.cross-check-details thead th:first-child {
    width: 50px;
}

.cross-check-details tbody th {
    text-align: center;
}

tbody th .ui-icon {
    cursor: pointer;
    display: inline-block;
}

section:not(.editable-timesheet) tbody th .ui-icon-pencil,
tbody th .ui-icon-close,
tbody th .ui-icon-check {
    display: none;
}